APP_NAME=
APP_ENV=
APP_VERSION=


# 
SERVER_PORT=
DATABASE_PROVIDER=
GLOBAL_PREFIX=
API_PREFIX=
API_VERSION=
CORS_ORIGINS=

APP_BASE_PATH=


API_HOST=


## 


## 
INIT_USERNAME= 
INIT_PASSWORD=
INIT_USER_TOKEN=


# 
# 
JWT_ACCESS_TOKEN_EXP_IN_SEC=
JWT_REFRESH_TOKEN_EXP_IN_SEC=
JWT_SECRET=
JWT_REFRESH_SECRET=

SESSION_SECRET=

## 
ALICLOUD_OSS_BUCKET=
ALICLOUD_OSS_REGION=
ALICLOUD_OSS_ENDPOINT=

ALICLOUD_STS_ACCESS_KEY_ID=
ALICLOUD_STS_ACCESS_KEY_SECRET=
ALICLOUD_STS_ROLE_ARN=
ALICLOUD_STS_ROLE_SESSION_NAME=
ALICLOUD_STS_ENDPOINT=
ALICLOUD_STS_DURATION_SECONDS=

OSS_UPLOAD_PREFIX=
OSS_ALLOWED_MIME_TYPES=
OSS_MAX_FILE_SIZE=


## 
ALICLOUD_SMS_ACCESS_KEY_ID=
ALICLOUD_SMS_ACCESS_KEY_SECRET=
ALICLOUD_SMS_ENDPOINT=
ALICLOUD_SMS_SIGN_NAME=
ALICLOUD_SMS_TEMPLATE_REGISTER=
ALICLOUD_SMS_TEMPLATE_RESET_PASSWORD=
ALICLOUD_SMS_TEMPLATE_CHANGE_PASSWORD=
ALICLOUD_SMS_TEMPLATE_LOGIN=
SMS_CODE_LENGTH=
SMS_CODE_EXPIRE_SECONDS=
SMS_SEND_INTERVAL_SECONDS=

# 
REDIS_URL=
REDIS_HOST=
REDIS_PORT=
REDIS_PASSWORD=
REDIS_DB=
REDIS_MAX_RETRIES=
REDIS_RETRY_DELAY=
REDIS_READY_CHECK=


# 
WECHAT_MINI_PROGRAM_APP_ID=
WECHAT_MINI_PROGRAM_APP_SECRET=

# 
WECHAT_MCH_ID=
WECHAT_API_V3_KEY=
WECHAT_API_V2_KEY=
WECHAT_PAY_SERIAL_NO=
WECHAT_PAY_PUBLIC_KEY_ID=


## 识别服务（人脸识别、身份证 OCR）
ALIYUN_APP_CODE=
RECOGNITION_PROVIDER=
RECOGNITION_FACE_ENABLED=
RECOGNITION_FACE_ENDPOINT=
RECOGNITION_FACE_SCENE_ID=
RECOGNITION_ID_CARD_OCR_ENABLED=
RECOGNITION_ID_CARD_OCR_ENDPOINT=
OCR_SERVICE_URL=
